# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vim
*.swp

# project specific
/sources/data
/sources/syncdatasources
/sources/sds-crontab
/sources/gen-regexp
/sources/data.zip
/sources/sds.yaml
out
*.secret
docker-images/base/repos

.idea
*/.idea
*.csv
/*.json
/*.gz
/prod.txt
/test.txt
/diff.txt
/go.mod
/go.sum
