---
environments:
- name: prod                            # this will run on the 'prod' env
  deployments:
  - name: prod-master
    master: true                        # master task, this one will process all special SDS tasks, other tasks will receive "SDS_ONLY_P2O=1"
    cron: '45 */4 * * *'                # it means that task will attempt to sync every 30 minutes, but will skip when another SDS instance related to this deployment (prod-main) runs
    command_prefix: '/usr/bin'          # Next few vars are just our EC2 instances specific
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:                                # List of all possible SDS env variables is here: https://github.com/LF-Engineering/sync-data-sources/blob/master/sources/context.go#L12
      SDS_SKIP_P2O: 1                   # Only special tasks like maintaining aliases/views/renames/drops etc
      SDS_SKIP_DATA: 1
      SDS_SKIP_AFFS: 1
      SDS_SKIP_ES_DATA: 1
      SDS_SKIP_ES_LOG: 1
      SDS_SKIP_PROJECT: 1
      SDS_SKIP_PROJECT_TS: 1
      SDS_SKIP_SORT_DURATION: 1
      SDS_NO_INDEX_DROP: 1              # Do not delete any indices, just issue a warning instead
      SDS_SKIP_SSAW: 1
      SDS_SKIP_ENRICH_DS: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: prod-main
    cron: '*/10 * * * *'                # it means that task will attempt to sync every 10 minutes, but will skip when another SDS instance related to this deployment (prod-main) runs
    command_prefix: '/usr/bin'          # Next few vars are just our EC2 instances specific
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:                                # List of all possible SDS env variables is here: https://github.com/LF-Engineering/sync-data-sources/blob/master/sources/context.go#L12
      SDS_SILENT: 1
      SDS_TASK_TIMEOUT_SECONDS: 43200
      SDS_NCPUS_SCALE: 1.5              # attempt to create 1.5 * number of CPU cores tasks for this deployment
      SDS_SCROLL_SIZE: 500
      SDS_ES_BULKSIZE: 500
      SDS_TASKS_SKIP_RE: '^sds-(lfn-odl-gerrit|open-mainframe-project|accord|acrn|allseen|alljoyn|act|agl|bitcoin-protocol|cc|CC|cephfoundation|chaoss|ojsf-chassis|chips|cip|clusterduck|cni|caf|ccc|cdf|cord-datacenter|cord-central-office-re-architected-as-a-datacenter|cregit|datapractices|dent|desktopwg|easycla|elisa|finops|finos|fossbazaar|frr|gql|internet-security-research-group|interuss|iovisor|janusgraph|kernelci|openkinetic|laminas|lets-encrypt|lf-asia-llc|lfph|lsb|linuxboot|llvmlinux|ltsi|lvfs|mapzen|mojaglobal|newticity|onf|O3DE|o3de|a11y|open-alliance-for-cloud-adoption|opencontainers|open-network-operating-system-onos|osecc|osapa|ova|open-voice-network|ovs|openbel|openbmc|openchain|OEEW|oeew|openfabrics-inc|openhpc|ojsf|openmama|openmessaging|openpowerfoundation|opensds|osquery|patentcommons|quartermaster|rcons|real-time-linux|redteam|rtdb|riscv|risc-v-international|sel4|soda-foundation|sof|tlf|openssf|reactive|tizen|ucf|korg|cncf)-'   # specifying which tasks should be skipped, can be something like '^sds-(foundation1|foundation2|...|foundationN)-'
      SDS_DATASOURCES_SKIP_RE: '^(slack|googlegroups)'
      # SDS_DATASOURCES_RE: '^github'
      SDS_SKIP_AFFS: 1
      # SDS_DYNAMIC_OAUTH: 1
      # SDS_SKIP_CHECK_FREQ: 1
      SDS_SKIP_SSAW: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: prod-cncf
    cron: '2 8 * * *'                   # attempt sync at 8 AM UTC, nothing will happen if the previous sync still runs
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    deploy_env: prod
    env:
      SDS_SILENT: 1
      SDS_TASK_TIMEOUT_SECONDS: 43200
      SDS_NCPUS_SCALE: 0.3              # here we give max 30% of CPU cores available. So if OS reorts say 10 CPU cores, at most 3 threads will be used.
      SDS_SCROLL_SIZE: 1000
      SDS_ES_BULKSIZE: 1000
      SDS_TASKS_RE: '^sds-cncf-'        # the opposite of the main task - we specify which tasks should run in this deployment (instead of specifying which tasks should be skipped as in prod-main deployment)
      SDS_DATASOURCES_SKIP_RE: '^(slack|googlegroups)'
      # SDS_DATASOURCES_RE: '^github'
      SDS_SKIP_AFFS: 1
      # SDS_DYNAMIC_OAUTH: 1
      # SDS_SKIP_CHECK_FREQ: 1
      SDS_SKIP_SSAW: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: prod-korg
    #disabled: true
    cron: '4 14 * * *'                  # attempt sync at 8 AM UTC, nothing will happen if the previous sync still runs
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    deploy_env: prod
    env:
      SDS_SILENT: 1
      SDS_TIMEOUT_SECONDS: 344700
      SDS_TASK_TIMEOUT_SECONDS: 86400
      SDS_NCPUS_SCALE: 0.35             # here we give max 35% of CPU cores available. So if OS reorts say 10 CPU cores, at most 3 threads will be used.
      SDS_SCROLL_SIZE: 1000
      SDS_ES_BULKSIZE: 1000
      SDS_DATASOURCES_SKIP_RE: '^(slack|googlegroups)'
      SDS_TASKS_RE: '^sds-korg-'        # the opposite of the main task - we specify which tasks should run in this deployment (instead of specifying which tasks should be skipped as in prod-main deployment)
      SDS_SKIP_SSAW: 1
      SDS_SKIP_AFFS: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: prod-others
    cron: '6 20 * * *'                  # attempt sync at 8 PM UTC, nothing will happen if the previous sync still runs
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    deploy_env: prod
    env:
      SDS_SILENT: 1
      SDS_TASK_TIMEOUT_SECONDS: 43200
      SDS_NCPUS_SCALE: 0.3
      SDS_SCROLL_SIZE: 1000
      SDS_ES_BULKSIZE: 1000
      SDS_TASKS_RE: '^sds-(lfn-odl-gerrit|open-mainframe-project|accord|acrn|allseen|alljoyn|act|agl|bitcoin-protocol|cc|CC|cephfoundation|chaoss|ojsf-chassis|chips|cip|clusterduck|cni|caf|ccc|cdf|cord-datacenter|cord-central-office-re-architected-as-a-datacenter|cregit|datapractices|dent|desktopwg|easycla|elisa|finops|finos|fossbazaar|frr|gql|internet-security-research-group|interuss|iovisor|janusgraph|kernelci|openkinetic|laminas|lets-encrypt|lf-asia-llc|lfph|lsb|linuxboot|llvmlinux|ltsi|lvfs|mapzen|mojaglobal|newticity|onf|O3DE|o3de|a11y|open-alliance-for-cloud-adoption|opencontainers|open-network-operating-system-onos|osecc|osapa|ova|open-voice-network|ovs|openbel|openbmc|openchain|OEEW|oeew|openfabrics-inc|openhpc|ojsf|openmama|openmessaging|openpowerfoundation|opensds|osquery|patentcommons|quartermaster|rcons|real-time-linux|redteam|rtdb|riscv|risc-v-international|sel4|soda-foundation|sof|tlf|openssf|reactive|tizen|ucf)-'
      SDS_DATASOURCES_SKIP_RE: '^(slack|googlegroups)'
      # SDS_DATASOURCES_RE: '^github'
      SDS_SKIP_AFFS: 1
      # SDS_DYNAMIC_OAUTH: 1
      # SDS_SKIP_CHECK_FREQ: 1
      SDS_SKIP_SSAW: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: prod-googlegroups
    cron: '11 * * * *'
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    deploy_env: prod
    env:
      SDS_SILENT: 1
      SDS_DATASOURCES_RE: '^googlegroups'
      SDS_NCPUS_SCALE: 0.5
      SDS_SKIP_SSAW: 1
      SDS_SKIP_AFFS: 1
- name: test                            # this will run on the 'test' env
  deployments:
  - name: test-master
    master: true                        # master task, this one will process all special SDS tasks, other tasks will receive "SDS_ONLY_P2O=1"
    cron: '45 */4 * * *'                # it means that task will attempt to sync every 30 minutes, but will skip when another SDS instance related to this deployment (prod-main) runs
    command_prefix: '/usr/bin'          # Next few vars are just our EC2 instances specific
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:                                # List of all possible SDS env variables is here: https://github.com/LF-Engineering/sync-data-sources/blob/master/sources/context.go#L12
      SDS_SKIP_P2O: 1                   # Only special tasks like maintaining aliases/views/renames/drops etc
      SDS_SKIP_DATA: 1
      SDS_SKIP_AFFS: 1
      SDS_SKIP_ES_DATA: 1
      SDS_SKIP_ES_LOG: 1
      SDS_SKIP_PROJECT: 1
      SDS_SKIP_PROJECT_TS: 1
      SDS_SKIP_SORT_DURATION: 1
      #SDS_NO_INDEX_DROP: 1             # Do not delete any indices, just issue a warning instead
      SDS_SKIP_SSAW: 1
      SDS_SKIP_ENRICH_DS: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: test-main
    cron: '7 * * * *'
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:
      SDS_SILENT: 1
      SDS_NCPUS_SCALE: 2
      SDS_SCROLL_SIZE: 500
      SDS_ES_BULKSIZE: 500
      SDS_TASKS_SKIP_RE: '(project1-bugzilla|project1-gerrit|project1-rocketchat)'
      SDS_DATASOURCES_SKIP_RE: '^(slack|googlegroups|pipermail)'
      SDS_SKIP_SSAW: 1
      SDS_SKIP_AFFS: 1                  # let re-enricher handle refreshing identities starting at 8/5/21
      # DA_GIT_DROP_RICH: 1
      # DA_GIT_DROP_RAW: 1
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: test-slow
    cron: '*/10 * * * *'
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:
      # SDS_SKIP_REENRICH: 'jira,gerrit,confluence,bugzilla' # passing incremental date from is now supported (after p2o patch), so this is no longer needed
      SDS_SILENT: 1
      SDS_ES_BULKSIZE: 100
      SDS_TASKS_RE: '(project1-bugzilla|project1-gerrit|project1-rocketchat|academy-software-foundation-openshadinglanguage-github)'
      SDS_DATASOURCES_SKIP_RE: '^(slack|googlegroupsi|pipermail)'
      SDS_SKIP_SSAW: 1
      SDS_SKIP_AFFS: 1                  # let re-enricher handle refreshing identities starting at 8/5/21
      DA_GIT_ALLOW_FAIL: 1
      DA_GITHUB_ALLOW_FAIL: 1
      DA_CONFLUENCE_ALLOW_FAIL: 1
      DA_GERRIT_ALLOW_FAIL: 1
      DA_GROUPSIO_ALLOW_FAIL: 1
      DA_JIRA_ALLOW_FAIL: 1
      DA_ROCKETCHAT_ALLOW_FAIL: 1
      SKIP_BLANK_ORGS: 1
  - name: test-googlegroups
    cron: '11 * * * *'
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:
      SDS_SILENT: 1
      SDS_DATASOURCES_RE: '^googlegroups'
      SDS_NCPUS_SCALE: 0.5
      SDS_SKIP_SSAW: 1
      SDS_SKIP_AFFS: 1                  # let re-enricher handle refreshing identities starting at 8/5/21
  - name: test-pipermail
    cron: '12 * * * *'
    command_prefix: '/usr/bin'
    csv_prefix: '/root'
    cron_env: 'PATH=$PATH:/snap/bin'
    temp_dir: '/tmp'
    env:
      SDS_SILENT: 1
      SDS_DATASOURCES_RE: '^pipermail'
      SDS_NCPUS_SCALE: 0.5
      SDS_SKIP_SSAW: 1
      SDS_SKIP_AFFS: 1                  # let re-enricher handle refreshing identities starting at 8/5/21
